body {
    background-image: url(https://initiate.alphacoders.com/images/444/cropped-2560-1600-44447.jpg?1552);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 210%;

}

.jumbotron{
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color: darkmagenta;
    background-color: dimgray;
    
}


#startQuizBtn {
    color: white;
    background-color: darkmagenta;
    border-radius: .25rem;
    width: 20%;
    font-family: 'Texturina', serif;
     
}

#quizTimer {
    font-size: 4rem;
    font-family: 'Fira Sans', sans-serif;
    text-align: left;
}

#quizArea {
    width: 80%;
    height: auto;
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    color: darkblue;
}


 li {
     color: white
 }

.timer {
    background-color: whitesmoke;
    color: darkblue;
    font-size: 800px;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    opacity: 80%;
}
