body {
    background-image: url(./assets/TardisBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 210%;

}

.jumbotron{
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color: darkblue;
    background-color: lightblue;
    opacity: 80%;
    
}


#startQuizBtn {
    color: whitesmoke;
    background-color: darkblue;
    border-radius: .25rem;
    width: 20%;
    font-family: 'Texturina', serif;
     
}

#quizTimer {
    font-size: 4rem;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

#quizArea {
    width: 80%;
    height: auto;
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    color: darkblue;
}


 li {
     color: white
 }

.timer {
    background-color: lightblue;
    color: darkblue;
    font-size: 800px;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    opacity: 80%;
}

#submtiScore .container {
    background-color: #add8e6;
    opacity: 80%;
    font-family: 'Fira Sans', sans-serif;
}

#scoreDetails {
    background-color: lightblue;
    color: darkblue;
    opacity: 80%;
    width: 100%;
    height: auto;
    text-align: center;
}

#inputBtn {
    background-color: lightblue;
}

.btn {
    background-color: darkblue;
    color: whitesmoke;
}

.btn.btn-outline-secondary {
    background-color: darkblue;
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    color: darkblue;
    text-align: center;
}

.scoreList {

    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: darkblue;
}

.container {
    background-color: #add8e6;
    opacity: 80%;
    background-image: url(https://mcdn.wallpapersafari.com/small/20/24/H3zFaD.jpg);
    width: 50%;
    height: auto;
}

#rightWrong {

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: white;
    align-items: center;

}

